@import 'main.css';

.form-container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
}

.form-card {
    min-height: 250px;
    min-width: 360px;
    width: 360px;
    font-size: 14px;
    
}

.card h1 {
	color: var(--primary-color);
}

/* .form-details {
    border: 1px solid black;

} */

.form-details input {
	width: 100%;
	padding: 15px;
	margin: 0 0 15px;
	box-sizing: border-box;
}

.form-details button {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
}
