	nav {
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.nav-items {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #495867;
		
		white-space: normal;
	}
	
	.nav-items a {
		float: left;
		display: block;
		color: #F7F7FF;
		font-size: 22px;
		text-align: center;
		padding: 16px 16px;
		text-decoration: none;
	}
	
	.nav-items .right {
		float: right;
	}
	
	.nav-items a:hover {
		background-color: #577399;
	}
	
	form.search-bar {
		float: right;
		max-width: 500px;
		margin-top: 10px;
		margin-right: 26px;
	}
	
	form.search-bar input[type=text] {
		padding: 10px;
		float: left;
		border: none;
		font-size: 16px;
	}
	
	form.search-bar button {
		float: right;
		padding: 10px;
		background: #555;
		color: #F7F7FF;
		font-size: 14px;
		border: 1px solid #111;
		border-left: none;
		cursor: pointer;
	}
	
	form.search-bar::after {
		content: "";
		clear: both;
		display: table;
	}